.shapes .sqare {
    position: absolute;
    top: 100px;
    left: 500px;
    width: 30px;
    height: 30px;
    background-color: red;
    border: 3px solid red;
    transition: border-color 0.4s ease;
}

.shapes .circle {
    position: absolute;
    top: 300px;
    left: 700px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    border: 3px solid red;
    transition: border-color 0.4s ease;
    -webkit-transition: border-color 0.4s ease;
}

.float {
    animation-name: Floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes Floating {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(0, -0px);
    }
}

.spin {
    animation-name: Spinning;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes Spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
